<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}} - Precio: ${{this.price}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('productoNuevo', (producto) => {
        });
    </script>
</body>
</html>
